body{
    background-color: #fbefbb;
    margin: 0;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
nav{
    background-color: #1F5B25;
    padding: 15px;
    position: fixed;
}
nav a{
    color: #fff;
    margin: 15px;
    text-decoration: none;
}
nav a:hover{
    color: #fff;
   
}
nav a:first-child{
    font-size: 1.5em;
}
.banner{
    background-image: url(./assets/banner.jpg);
    background-position: center center;
    background-size: cover;
    height: 400px;

}
.kave{
    color:#1F5B25;
    background-color: #fff;
    border: 1px solid #1F5B25;
    border-radius: 4px;
    margin-bottom: 1rem;
    position: relative;
}
.kave:hover{
    box-shadow: 0px 0px 5px #1F5B25;
}
.kave h2{
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-variant: small-caps;
    
}
.img-fluid{
    height: 200px;
    width: 100%;
}
.napiajanlat{
    width: 60px;
    position: absolute;
    right: 0;
    top: 10px;
}